body {
  font-family:Cambria, Cochin, Georgia, Times, "Times New Roman", serif, sans-serif;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 5px;
  background-image: url(back.jpg);
}
h3 {
  text-align: center;
  color: #0077ff;
}
input[type="text"] {
  width: 50%;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border: 2px solid #0077ff;
  border-radius: 25px;
}
button {
  padding: 10px;
  background-color: #0077ff75;
  width: 200px;
  color: white;
  border: none;
  margin: 10px;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}
button:hover {
  background-color: #0077ff;
}
ul {
  width: 75%;
  background-color: #2278b18a;
  border-radius: 25px;
  border: 2px solid white;
  list-style-type: none;
  padding: 28px;
}
li {
  margin: 5px 0;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li.completed {
  text-decoration: line-through;
  color: black;
}
.delete-btn {
  background: none;
  padding: 5px;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #0077ff00;
  border-radius: 100%;
}

